{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur votre Gestionnaire Cookie Nation !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="">Cookie Nation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> 
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('app_stats') }}">Gestion des ventes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('admin') }}">Administration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profil</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
      </li>
    </ul>
</nav>
<div class="example-wrapper">
    <h1>Bonjour {{ app.user.nom }} {{ app.user.prenom }} </h1>

    {% for flashError in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flashError }}</div>
    {% endfor %}
</div>
{% endblock %}
